li {
    list-style: none;
    float: right;
    padding: 20px 30px;

}

.header {
    height: 100px;
    font-size: 70px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: black;
    float: left;

}

.header-list {
    color: black;
    font-family: sans-serif;
    font-size: 18px;

}

.bg {
    background-color: rgb(101, 58, 218);
    width: 1340px;
    height: 180px;
}

.Main {
    background-color: rgb(230, 230, 136);
    width: 1340px;
    height: 1080px;
}

.Footer {
    background-color: rgb(47, 97, 190);
    width: 1340px;
    height: 100px;
}